<!DOCTYPE html>
<html lang="sr">
<html>
<!DOCTYPE html>
<html lang="sr" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<title>GamingShop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Bootstrap -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/moj.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome-all.css}" />
<link rel="stylesheet" type="text/css" href="/css/lightbox.min.css">
<script src="/js/lightbox-plus-jquery.min.js">
</script>
</head>
<body>
	<div th:replace="common/header :: navbar" />

	<div class="text-center p-0 odvoj_od_menija  font-weight-bold"
		style="margin-top: 5%;">
		<h1 class="p-4">Naša galerija slika:</h1>
	</div>
	<div class="container-fluid mb-4">

		<div class="row">

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<div>
					<a href="/images/large1.jpg" data-lightbox="mygallery"><img
						src="/images/small1.jpg" class="img-thumbnail"></a>
				</div>

				<div class="caption text-center mb-2 mt-2">
					<h4>ROG Wallpaper Challenge - Heat Proof Monster</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>

						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large1.jpg" class="btn btn-primary px-3"
								style="width: 100%;" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large2.jpg" data-lightbox="mygallery"><img
					src="/images/small2.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - Fuze123 the Legend</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5 galerija_efekat">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large2.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large3.jpg" data-lightbox="mygallery"><img
					src="/images/small3.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - HOTnCOOL</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large3.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large4.jpg" data-lightbox="mygallery"><img
					src="/images/small4.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - KingsBalkan</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large4.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large5.jpg" data-lightbox="mygallery"><img
					src="/images/small5.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - Heat Proof Hero</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large5.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large6.jpg" data-lightbox="mygallery"><img
					src="/images/small6.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - SomebodyNew97</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large6.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large7.jpg" data-lightbox="mygallery"><img
					src="/images/small7.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - RogGaming</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large7.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large8.jpg" data-lightbox="mygallery"><img
					src="/images/small8.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - TheGreatPlayer</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large8.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large9.jpg" data-lightbox="mygallery"><img
					src="/images/small9.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - TechnoPCB</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large9.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>


			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large10.jpg" data-lightbox="mygallery"><img
					src="/images/small10.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - PLAYER123</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large10.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large11.jpg" data-lightbox="mygallery"><img
					src="/images/small11.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - AndAnotherAutor</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large11.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4 galerija_efekat">
				<a href="/images/large12.jpg" data-lightbox="mygallery"><img
					src="/images/small12.jpg" class="img-thumbnail"></a>
				<div class="caption text-center mb-2 mt-2 ">
					<h4>ROG Wallpaper Challenge - Anonymous</h4>
					<div class="row">

						<div class="col-sm-12 col-md-5">
							<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i> <i class="fas fa-star"></i> <i
								class="fas fa-star"></i>
						</div>

						<div class="col-sm-12 col-md-7">
							<a href="/images/large12.jpg" class="btn btn-primary px-3"
								style="width: 100%" download>Preuzmi</a>
						</div>
					</div>
				</div>
			</div>






		</div>
	</div>








	<div th:replace="common/header :: footer" />
	<div th:replace="common/header :: body-bottom-scripts" />
	<script type="text/javascript">
			var items = document.getElementsByClassName("nav-link");
			items[2].classList.add("aktivna");
		  </script>

</body>
</html>