<head>
<title>GamingShop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Bootstrap -->


<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/laptopovi.css">
<link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css">
<!-- <link href="/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="/css/dataTables.bootstrap.min.css" rel="stylesheet" /> -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />


</head>
<body>

	<div th:replace="common/header :: navbar" />


	<div class="odvoj_od_menija" style="min-height: 700px">

		<div class="row m-0">
			<div class="col-md-3 col-sm-12">
				<a href="#"
					class="d-sm-block d-md-none btn btn-primary font-weight-bold"
					onclick="funkcija()"
					style="width: 100%; margin-bottom: 2%; border-radius: 0px;">Filter:</a>
				<div id="standard">
					<h2 class="ml-3 d-none d-md-block">Filter:</h2>
					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo">Cena:</button>
						<div id="demo" class="collapse" style="margin-top: 2%;">
							<label for="inputEmail4" class="labela"> Min cena: </label> <input
								type="text" class="form-control" id="inputEmail4"> <label
								for="inputEmail4 labela" class="labela"> Max cena: </label> <input
								type="text" class="form-control" id="inputEmail4">
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo2">Raspoloživost:</button>
						<div id="demo2" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> Na
										stanju </label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo3">Proizvođač:</button>
						<div id="demo3" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> Antec
									</label> <br> <input class="form-check-input" type="checkbox"
										id="gridCheck"> <label class="form-check-label"
										for="gridCheck"> Blueberry </label> <br> <input
										class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck">
										Chieftec </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> Cooler
										Master </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> Deep Cool </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck">
										Frontier </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> LC Power </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> RPC </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck">
										Thermaltake </label> <br>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo4">Forma kućišta:</button>
						<div id="demo4" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> Big
										Tower </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> Desktop </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> Midi
										Tower </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> Mini Tower </label>
									<br> <input class="form-check-input" type="checkbox"
										id="gridCheck"> <label class="form-check-label"
										for="gridCheck"> Rackmount </label> <br> <input
										class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> Ultra
										Tower </label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo5">Podržan format MB:</button>
						<div id="demo5" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> ATX </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> E-ATX
									</label> <br> <input class="form-check-input" type="checkbox"
										id="gridCheck"> <label class="form-check-label"
										for="gridCheck"> GIGABYTE XL-ATX </label> <br> <input
										class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck">
										microATX </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> Mini-ITX </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> SSI
										CEB </label> <br> <input class="form-check-input" type="checkbox"
										id="gridCheck"> <label class="form-check-label"
										for="gridCheck"> SSI EEB </label> <br> <input
										class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> XL-ATX
									</label> <br>
								</div>
							</div>
						</div>
					</div>


					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo6">Broj 2.5" ležista:</button>
						<div id="demo6" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 1 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 10 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 2+1 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 2+2 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 2+5 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 2+6 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 3 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 3+1 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 6 </label> <br>
								</div>
							</div>
						</div>
					</div>



					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo7">Broj 3.5" ležišta:</button>
						<div id="demo7" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 1+1 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 1+2 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 1+3 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 1+4 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 2 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 2+1 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 2+2 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 3 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 3+1 </label> <br>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo8">Broj 5.25" ležišta:</button>
						<div id="demo8" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 1 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 2 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 3 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 4 </label> <br>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo9">Providna stranica:</button>
						<div id="demo9" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> Da </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> Ne </label> <br>
								</div>
							</div>
						</div>
					</div>


					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo10">Materijal:</button>
						<div id="demo10" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck">
										Aluminijum </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck">
										Aluminijum/Plastika </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> Aluminium /
										Čelik </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> Čelik </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> Čelik
										/ Plastika </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> Metal /
										Aluminijum </label> <br>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo11">Broj USB 3.0:</button>
						<div id="demo11" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 1 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 2 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 3 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 4 </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 5 </label> <br>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary filter" data-toggle="collapse"
							data-target="#demo12">Garantni rok:</button>
						<div id="demo12" class="collapse">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 1
										godina </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> 2 godine </label> <br>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck"> 3
										godine </label> <br> <input class="form-check-input"
										type="checkbox" id="gridCheck"> <label
										class="form-check-label" for="gridCheck"> 4 godine </label> <br>
								</div>
							</div>
						</div>
					</div>

				</div>



			</div>

			<div class="col-md-9 col-sm-12">
				<div class=" m-0">
					<table border="0" id="pc_caseList" style="width: 100%;">
						<thead>
							<tr>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr class="pc_case-item" data-th-each="pc_case : ${pc_caseList}">
								<td>
									<div th:if="${pc_case != null}">
										<div class="col-12 mt-3">
											<div class="card text-center">
												<div class="card-header">
													<h3 class="card-title" th:text="${pc_case.title}"></h3>
												</div>
												<div class="card-body pt-0">
													<div class="row">
														<div class="col-md-4 col-sm-12">
															<img class="img-fluid"
																th:src="'https://springtestbyigy97.azurewebsites.net'+'/images/pc_case/'+${pc_case.id}+'.jpg'"
																alt="Card image cap" style="margin-top: 15%">
														</div>
														<div class="col-md-4 col-sm-12" style="margin-top: 5%;">
															<p class="card-text text-justify tekst_paragraf"
																th:utext="'PROIZVODJAC:' + ${pc_case.manufacturer} + '<br>' +
															'Tip kucista:' +  ${pc_case.type_of_case} + '<br>' +
															'Format:' +  ${pc_case.type_of_motherboard} + '<br>' +
															'Garantni rok:' +  ${pc_case.warranty} + '<br>' 													
															">
															</p>
														</div>
														<div class="col-md-4 col-sm-12 odvajanje">
															<div class="row">
																<div class="col-12 dugme">
																	<a href="#" class="btn btn-primary"><span><span
																			th:text="${#numbers.formatDecimal(pc_case.ourPrice, 0 , 'COMMA', 2, 'POINT')} + 'RSD'"></span></span>

																		<span
																		style="text-decoration: line-through; font-size: 1.1vw;"><span
																			th:text="${#numbers.formatDecimal(pc_case.listPrice, 0 , 'COMMA', 2, 'POINT')  + 'RSD'}"></span></span>

																	</a>
																</div>

																<div class="col-12 dugme">
																	<a
																		th:href="@{/offers/pc_case/pc_caseDetail?id=}+${pc_case.id}"
																		class="btn btn-primary">Ponuda</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>












	<div th:replace="common/header :: footer" />
	<div th:replace="common/header :: body-bottom-scripts" />
	<script type="text/javascript">
		var items = document.getElementsByClassName("nav-link");
		items[1].classList.add("aktivna");
	 </script>

	<script>
		$(document).ready(function() {
			$('#pc_caseList').DataTable({
				"lengthMenu":[ [5,10,15,20,-1] , [5,10,15,20,"All"] ],
				"ordering":false,
				stateSave:true
			});
			
			$("#pc_caseList").on('page.dt', function() {
				$('html, body').animate({
					scrollTop: $('#pc_caseList').offset().top
				}, 200);
			});
		});
	</script>

	<!-- jQuery -->




	<!-- Include all compiled plugins -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
		integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
		crossorigin="anonymous"></script>
	<script src="/js/dodatak.js"></script>
	<!-- <script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap.min.js"></script> -->
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

</body>
</html>